<p class="searchLabel">Search for a beer below...</p>

<form method="GET" action="/beers">
    <label for="inputSearch">Search:</label>
    <input type="text" id="inputSearch" placeholder="Search" name="searchInput"> 
    <!-- the name for this input will serve as the key when we try to get access to the req.query -->

    <input type="submit" value="Submit">

</form>
<div class="well">
 <ul>
     <% beers.forEach(beer => { %>
        <li class="text-black">
            <a href="/beers/<%= beer.id %>">  <%= beer.name  %>  </a> 
        </li>
        <% }) %>
    </ul>
</div>