<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">
      <img src="https://cdn-icons-png.flaticon.com/512/931/931949.png" alt="beer-icon" width="50px">
      <a class="navbar-brand" href="/">Beer House</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
  
      <div class="collapse navbar-collapse" id="navbarColor01">
        <% if (userId) { %>
          <ul class="navbar-nav me-auto">
            <li class="nav-item">
              <a class="nav-link" href="/beers">Beers</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/users/tracker">Tracker</a>
            </li>
          </ul>
            <div class="d-flex">
              <a href="/users/logout" class="text-decoration-none">logout</a>
            </div>
        <% } else {%>
            <div class="d-flex">
              <span><a href="/users/login" class="text-decoration-none p-4">Login</a> </span>
              <span><a href="/users/new" class="text-decoration-none p-4">Sign Up</a> </span>
            </div>
        <%  }%> 
        
      </div>
    </div>
  </nav>



<h1>Beer House</h1>

<% if (userId) { %>
 I am logged in
<% } else { %>
I am not logged in
 <% } %>

