<form action="/users/tracker/<%= beer.name %>/review " method="POST">
    <label for="review">Review for:  <%= beer.name %></label>
    <textarea name="review" id="review" cols="100" rows="10"></textarea>
    <input type="submit" value="submit review">
</form>