<form action="/users/tracker/reviews/edit/<%=review.id%>/?_method=PUT" method="POST">

    <!-- <div>
        <label for="userName"> Name:</label>
      
    </div> -->
    <div>
        <label for="review">Review: </label>
        <input type="text" name="review" id="review" value="<%=review.review %>">
    </div>
    <input type="submit" value="Update">
</form>