
<% if (beers[0]) { %>
    <% beers.forEach(beer => { %>
        <h2> <a href="/users/tracker/<%= beer.name %>"> <%= beer.name %></a>  </h2>
        <form method="POST" action="/users/tracker/<%= beer.name %>/?_method=DELETE">
            <input type="submit" value="Delete">
        </form>
        <a href="/users/tracker/edit/<%= beer.id %>"><input type="submit" value="Edit"></a>
    <% }) %>
<% } else {%>
    <h1>No beers tracked!</h1>
<% } %> 

<% console.log(beers[0]) %> 

<!-- //need to put if else here if no beers in db -->
